@media screen and (min-width: 640px) {
  .nav-bar .nav-bar__brand {
    font-size: 1.5em;
  }

  .jumbotron {
    min-height: 30vh;
    margin: auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .jumbotron h1 {
    font-size: 28px;
  }

  .jumbotron .jumbotron__button {
    font-size: 14px;
  }

  .article .box-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
  }

  .article .article__article-image-box {
    width: 48%;
  }

  .article .article__article-point {
    flex-direction: row;
    gap: 32px;
  }

  .article .article__article-point-right .article__article-point__desc {
    order: 1;
  }

  .article .article__article-point-right .article__article-point__image-box {
    order: 2;
  }

  .article .article__article-point .article__article-point__button-left {
    margin-right: auto;
    margin-left: 0px;
  }

  .aside .aside__aside-card {
    max-width: 320px;
    margin: 0 auto;
  }

  .article-contact .article-contact__article-contact-form {
    max-width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .nav-bar {
    justify-content: space-between;
  }

  .nav-bar .nav-bar__menu {
    display: none;
  }

  .nav-bar .nav-bar__link {
    position: static;
    width: 30%;
    background-image: none;
    background-color: transparent;
  }

  .nav-bar .nav-bar__link ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
  }

  .jumbotron {
    min-height: 30vh;
    margin: auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .jumbotron h1 {
    font-size: 30px;
  }

  .jumbotron .jumbotron__button {
    font-size: 16px;
  }

  .article .article__article-title {
    font-size: 1.5em;
  }

  .article .article__article-point {
    box-shadow: none;
  }

  .article .article__text-wrapper p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .nav-bar .nav-bar__brand {
    font-size: 1.75em;
  }

  .jumbotron {
    min-height: 30vh;
    margin: auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .jumbotron h1 {
    font-size: 30px;
  }

  .jumbotron .jumbotron__button {
    font-size: 16px;
  }

  .article .article__article-image-box {
    width: 30%;
  }

  .article .article__text-wrapper {
    padding: 0 32px;
  }

  .article-2 {
    display: flex;
    gap: 10%;
  }

  .article-2 .left-side {
    width: 60%;
  }

  .article-2 .aside {
    width: 30%;
  }

  .aside {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .nav-bar {
    max-width: 1280px;
    margin: 0 auto;
  }

  .jumbotron {
    min-height: 30vh;
    margin: auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .jumbotron h1 {
    font-size: 32px;
  }

  main {
    max-width: 1280px;
    margin: 0 auto;
  }

  .hr-line {
    width: 25%;
  }

  .article .article__article-title {
    font-size: 1.75em;
  }

  .article .article__article-point .article__article-point__desc h5 {
    font-size: 16px;
  }

  .article .article__article-point .article__article-point__desc p {
    font-size: 14px;
  }
}